.button {
    background-color: $blue;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: 300;
    padding: $s-size;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}
.button--link {
    background: none;   
}

.button--secondary {
    background: #888888;
}

.button__modal {
    @extend .button;
    margin-right: 1rem;
    background: $blue;
}

.imageupload {
    @extend .button;
    background: $grey;
    border-radius: 5px;
}