.list-header {
    background: #f7f7f7;
    border: 1px solid darken($color: #f7f7f7, $amount: 7); 
    display: flex;
    justify-content: space-between;
    padding: $s-size $m-size;
}
.list-body {
    margin-bottom: $m-size;
    @media ($desktop-breakpoint) {
        margin-bottom: $l-size
    }
}
.list-item {
    display: flex;
    flex-direction: column;
    border: 1px solid darken(#f7f7f7, 7%);
    border-top: none;
    color: $dark-grey;
    text-decoration: none;
    padding: $s-size;
    transition: background .3s ease;
    &:hover {
        background: $off-white;
    }
    @media (min-width: $desktop-breakpoint ) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: $m-size;
    }
}

.list-item--message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title {
    color: $grey;
    font-size: 1.4rem
}

.list-item__data {
    margin: $s-size 0 0 0;
    @media ($desktop-breakpoint) {
        margin: 0;
        padding-left: 1.6rem;
    }
}